<h2>BANCO SMART-CITY</h2>

<label > MONEY </label>
<br>
<br>
<br>
<button (click)="money_req('5')" class="fab-button" > 5€ </button>
<button (click)="money_req('10')" class="fab-button" > 10€ </button>
<button (click)="money_req('20')" class="fab-button" > 20€ </button>

<br>
<br>
<label>Mensages; <p></p>{{message}}</label>

<br>
<br>
<br>
<br>
<br>
<br>

<div>
    <button (click)="post()"> POST (Encrypt)</button>
    <label>  Encrypted message: <p></p> {{postencrypt}}</label>
    <p></p>
</div>

<div>
    <button (click)="get()" >GET (Decrypt)</button>
    <label>  Decrypted message:<p></p> {{enmens}} </label>
</div>
