.boton-personalizado {
    text-decoration:none;
    font-weight:300;
    font-size:15px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
    background-color:#FFD27D;
    border-color: #333333;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}


.fab-button {
    line-height: 4rem;
    text-decoration:none;
    font-weight:300;
    font-size:20px;
    color:#333333;
    min-width: 0;
    width: 4rem;
    height: 4rem;
    background-color:rgb(239, 243, 23);
    border-style: solid;
    border-radius: 50%;
  }

