<h2>BANCO SMART-CITY</h2>
<h3 > Money {{cliente.Titular}}</h3>

<button (click)="money_req('5')" class="fab-button" > 5€ </button>
<button (click)="money_req('10')" class="fab-button" > 10€ </button>
<button (click)="money_req('20')" class="fab-button" > 20€ </button>

<br> <br> <br>

<p><label>Compra </label></p>

<div *ngFor = "let coin of this.cliente.Monedas5; let i=index">
    <p>  {{coin._id}}</p>
    <button (click)="compra_req('coin._id')" class= "boton-personalizado">Compra de 5 </button>
</div>

<div *ngFor = "let coin of this.cliente.Monedas10; let i=index">
    <p>  {{coin._id}}</p>
    <button (click)="compra_req('coin._id')" class= "boton-personalizado">Compra de 10 </button>
</div>

<div *ngFor = "let coin of this.cliente.Monedas20; let i=index">
    <p>  {{coin._id}}</p>
    <button (click)="compra_req('coin._id')" class= "boton-personalizado">Compra de 20 </button>
</div>